<app-title *ngIf="user"> Change {{user.name}}'s Password</app-title>
<form [formGroup]="form" *ngIf="form">

    <app-password-input-layout label="New Password" [isDisplayingErrorMessage]="form.get('newPassword').dirty && form.get('newPassword').invalid">
        <input type="password" name="newPassword" class="form-control" formControlName="newPassword">
    </app-password-input-layout>


    <app-confirm-password-input-layout [isDisplayingErrorMessage]="form.get('confirmPassword').dirty && form.getError('areEqual')">
        <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword">
    </app-confirm-password-input-layout>

    <button class="btn btn-default" [disabled]="!form.valid" type="submit" (click)="changePassword()">Change password</button>
</form>