<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">

    <app-name-input-layout [isNotValid]="form.get('name').dirty && form.get('name').invalid">
        <input type="text" name="name" class="form-control" formControlName="name">
    </app-name-input-layout>
    <div class="form-group">
        <label for="">Calories </label>
        <input name="numOfCalories" type="number" class="form-control" id="" placeholder="Enter numOfCalories" formControlName="numOfCalories">
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <input name="date" type="text" placeholder="Datepicker" class="form-control" formControlName="date" bsDatepicker>
        </div>
    </div>
    <timepicker name="time" formControlName="time" ></timepicker>
    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>