<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">

    <app-name-input-layout [isDisplayingErrorMessage]="form.get('name').dirty && form.get('name').invalid">
        <input type="text" name="name" class="form-control" formControlName="name">
    </app-name-input-layout>

    <app-default-input-layout label="Calories">
            <input name="numOfCalories" type="number" class="form-control" id="" formControlName="numOfCalories">
    </app-default-input-layout>

    <app-default-input-layout label="Date">
            <input name="date" type="text" placeholder="Datepicker" class="form-control" formControlName="date" bsDatepicker [bsConfig]="{containerClass: 'theme-red' }">
    </app-default-input-layout>

    <app-default-input-layout class="mt-5" id="timeInput" label="Time">
            <timepicker name="time" formControlName="time" ></timepicker>
    </app-default-input-layout>

    
    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>