<form [formGroup]="form" *ngIf="form">

    <app-name-input-layout [isDisplayingErrorMessage]="form.get('name').dirty && form.get('name').invalid">
        <input type="text" name="name" class="form-control" formControlName="name">
    </app-name-input-layout>

    <app-email-input-layout [isDisplayingErrorMessage]="form.get('email').dirty && form.get('email').invalid">
        <input type="email" name="email" class="form-control" formControlName="email">
    </app-email-input-layout>

    <app-password-input-layout [isDisplayingErrorMessage]="form.get('password').dirty && form.get('password').invalid">
        <input type="password" name="password" class="form-control" formControlName="password">
    </app-password-input-layout>

    <app-confirm-password-input-layout [isDisplayingErrorMessage]="form.get('confirmPassword').dirty &&form.getError('areEqual')">
        <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword">
    </app-confirm-password-input-layout>

    <app-max-calories-input-layout [isDisplayingErrorMessage]="form.get('maxCalories').dirty && form.get('maxCalories').invalid">
        <input name="maxCalories" type="number" class="form-control" id="" formControlName="maxCalories">
    </app-max-calories-input-layout>

    <app-display-tracking-input-checkbox-layout>
        <input name="isTrackingDisplayed" type="checkbox" class="form-check-input" formControlName="isTrackingDisplayed">
    </app-display-tracking-input-checkbox-layout>

    <re-captcha formControlName="g-recaptcha-response"></re-captcha>

    <div class="mb-4 mt-4">
        <button class="btn btn-default" [disabled]="!form.valid" type="submit" (click)="signup()">Signup</button>
        <button class="btn btn-default" id="secure-signup-button" [disabled]="!form.valid" type="submit" (click)="signupSecurely()">Signup securely</button>
    </div>
</form>

<app-social-sign-in></app-social-sign-in>


<div class="mt-4">
    <span>Already have an account?</span>
    <button class="btn btn-default" routerLink="/login">Login</button>
</div>
