    <app-title>Update Role</app-title>
    <div class="form-group" *ngIf="user">
        <label for="role" *ngIf="user.name">{{user?.name}}'s  Role</label>

        <select class="form-control col-4" name="role" [(ngModel)]="user.role ">
            <!-- <option disabled  value="" >Subcategory</option> -->
            <option value="regular">Regular</option>
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
                
        </select>
    </div>
    <button class="btn btn-default" (click)="onAssignClick()">Assign Role</button>
