<form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">
    <app-name-input-layout [isDisplayingErrorMessage]="form.get('name').dirty && form.get('name').invalid">
        <input type="text" name="name" class="form-control" id="" formControlName="name">
    </app-name-input-layout>

    <app-max-calories-input-layout [isDisplayingErrorMessage]="form.get('maxCalories').dirty && form.get('maxCalories').invalid">
        <input name="maxCalories" type="number" class="form-control" id="" formControlName="maxCalories">
    </app-max-calories-input-layout>

    <app-display-tracking-input-checkbox-layout>
        <input name="isTrackingDisplayed" type="checkbox" class="form-check-input" formControlName="isTrackingDisplayed">
    </app-display-tracking-input-checkbox-layout>

    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>