<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker [(ngModel)]="bsRangeValue" (change)="fetchConsideringPaging()">
    </div>
</div>

<timepicker name="time" [(ngModel)]="startTime" (change)="fetchConsideringPaging()"></timepicker>
<timepicker name="time" [(ngModel)]="endTime" (change)="fetchConsideringPaging()"></timepicker>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> {{title}}
            <a title="Add New Meal" (click)="onAddClick()" class="text-info pull-right fa fa-plus link"></a>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Calories</th>
                    <th class="text-center">Update</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of meals">
                    <td>{{item.name}}</td>
                    <td>{{item.date | date:'mediumDate'}}</td>
                    <td>{{item.date | date:'shortTime'}}</td>
                    <td>{{item.numOfCalories}}</td>
                    <td class="text-center">
                        <a class="link" (click)="onEditMealClick(item)">
                            <i class="fa fa-edit text-warning"> </i>
                        </a>
                    </td>
                    <td class="text-center ">
                        <a class="link" (click)="onDeleteClick(item)">
                            <i class="fa fa-trash text-danger"> </i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-12">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="fetchMeals($event)" [maxSize]="10"></pagination>
</div>