<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">My Logins </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>CalTrack</td>
                    <td>{{user.email}}</td>
                    <td class="text-center" *ngIf="user.email">
                        <a id="activatedIcon">
                            <i class="fa fa-check  text-success"> </i>
                        </a>
                    </td>
                    <td class="text-center" *ngIf="!user.email">
                        <a id="activatedIcon">
                            <i class="fa fa-times  text-warning"> </i>
                        </a>
                    </td>
                    <ng-container *ngIf="isPersonal">
                        <td class="text-center">
                            <button class="btn btn-link" *ngIf="user.email" id="change-my-password-button" routerLink="/my-logins/password">Change my Password</button>
                        </td>
                        <td class="text-center">
                            <button *ngIf="!user.email" class="btn btn-link" routerLink="/my-logins/add-local-login">
                                Add local login
                            </button>
                            <button *ngIf="user.email" class="btn btn-link" (click)="disconnectLocalLogin.emit()" [disabled]="isRemoveLoginDisabled">
                                Remove local login
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr>
                    <td>
                        <span class="group-icon openid-icon icon-google"></span> Google</td>
                    <td>{{user.googleEmail}}</td>
                    <td class="text-center" *ngIf="user.googleId">
                        <a id="activatedIcon">
                            <i class="fa fa-check  text-success"> </i>
                        </a>
                    </td>
                    <td class="text-center" *ngIf="!user.googleId">
                        <a id="activatedIcon">
                            <i class="fa fa-times  text-warning"> </i>
                        </a>
                    </td>
                    <ng-container *ngIf="isPersonal">

                        <td class="text-center">
                        </td>
                        <td class="text-center">
                            <button *ngIf="!user.googleId" class="btn btn-link" (click)="connectGoogle.emit()">
                                Connect Google
                            </button>
                            <button *ngIf="user.googleId" class="btn btn-link" (click)="disconnectGoogle.emit()" [disabled]="isRemoveLoginDisabled">
                                Disconnect Google
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr>
                    <td>
                        <span class="group-icon openid-icon icon-facebook"></span> Facebook</td>
                    <td>{{user.facebookEmail}}</td>
                    <td class="text-center" *ngIf="user.facebookId">
                        <a id="activatedIcon">
                            <i class="fa fa-check  text-success"> </i>
                        </a>
                    </td>
                    <td class="text-center" *ngIf="!user.facebookId">
                        <a id="activatedIcon">
                            <i class="fa fa-times  text-warning"> </i>
                        </a>
                    </td>
                    <ng-container *ngIf="isPersonal">
                        <td class="text-center">
                        </td>
                        <td class="text-center">
                            <button *ngIf="!user.facebookId" class="btn btn-link" (click)="connectFacebook.emit()">
                                Connect Facebook
                            </button>
                            <button *ngIf="user.facebookId" class="btn btn-link" (click)="disconnectFacebook.emit()" [disabled]="isRemoveLoginDisabled">
                                Disconnect Facebook
                            </button>
                        </td>
                    </ng-container>
                </tr>

            </tbody>
        </table>
    </div>
</div>