<app-title> Change Password </app-title>
<form [formGroup]="form" *ngIf="form">
    <app-password-input-layout label="Old Password" [isDisplayingErrorMessage]="false">
        <input type="password" name="oldPassword" class="form-control" formControlName="oldPassword">
    </app-password-input-layout>
    <app-password-input-layout label="New Password" [isDisplayingErrorMessage]="form.get('newPassword').dirty && form.get('newPassword').invalid">
        <input type="password" name="newPassword" class="form-control" formControlName="newPassword">
    </app-password-input-layout>
    <app-confirm-password-input-layout [isDisplayingErrorMessage]="form.get('confirmPassword').dirty && form.getError('areEqual')">
        <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword">
    </app-confirm-password-input-layout>
    <button class="btn btn-default" [disabled]="!form.valid" type="submit" (click)="changepassword()">Change password</button>
</form>