.btn.white {
    color: white;
    &:hover {
        color: white;
    }
}

.ssoButtonsHolder {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 1.25em;
    margin-right: 4px;
}

.ssoButtonContainer:first-child {
    padding-right: .5em;
}

.ssoButtonContainer {
    flex: 0 1 50%;
}

.ssoButton {
    display: inline-block;
    height: 3em;
    line-height: 3em;
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: .2em;
    border-width: 2px;
    border-style: solid;
    color: #fff;
    font-weight: 300;
    font-size: .8125em;
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
    a {
        font-family: nyt-franklin, arial, helvetica, sans-serif;
    }
}

.ssoButtonFacebook {
    background-color: #3c5a99;
    border-color: #3c5a99;
}

.ssoButtonGoogle {
    background-color: #4285f4 !important;
    border-color: #4285f4;
}

.fa-google {
    background-color: #4285f4 !important;
    border-color: #4285f4;
}

.btn.btn-social.btn-google.btn-lg {
    background-color: #4285f4 !important;
    border-color: #4285f4;
    &:hover {
        background-color: #3367d6;
        border-color: #3367d6;
    }
}